@model List<EmployeeDirectory.Entity.GroupMasterEntity>

@{
    var gdGroupList = new WebGrid(Model, canPage: false, canSort: false, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
}

<div>
    @gdGroupList.GetHtml(tableStyle: "webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                htmlAttributes: new { Id = "tblUserList" },
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                mode: WebGridPagerModes.Numeric,
                        columns: gdGroupList.Columns(
                        gdGroupList.Column("Name", "Group Name"),
                        gdGroupList.Column("Description", "Description"),
                        gdGroupList.Column("Action", format: @<text>
                            @if (ViewBag.IsEdit != null)
                            {
                                if (ViewBag.IsEdit)
                                {

                                    <a href="#" onclick="EditGroupMaster(@item.ID)"><i class="fa fa-edit"></i></a>
                                }
                            }
                            @if (ViewBag.IsDelete != null)
                            {
                                if (ViewBag.IsDelete)
                                {
                                    <a href="~/GroupMaster/DeleteGroupMaster/@item.ID" onclick="return confirm('Are you sure you wish to delete this Group?');"><i class="fa fa-trash"></i></a>
                                }
                            }
                        </text>, style: "webgrid-action-column")))

</div>

<input type="hidden" id="hdnTotalRecord" value="@Model[0].TotalRecord" />
<input type="hidden" id="hdnPageIndex" value="@Model[0].Pageindex" />

<script>

    $(document).ready(function () {

      //  GeneratePagingFooter();

    });

    function EditGroupMaster(me) {

        var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
        Liveurl = "/" + Liveurl + "GroupMaster/EditGroupMaster";
        $("#modalWindow,#ui-loader").show();
        $.ajax({
            url: Liveurl,
            type: "GET",
            data: { Id: me },
            success: function (result) {
                $("#parentModal").html(result).modal('show');
                $("#modalWindow,#ui-loader").hide();
            }
        });
    }

    function GeneratePagingFooter() {
        
        var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
        var TotalRecord = $("#hdnTotalRecord").val();
        var PageIndex = $("#hdnPageIndex").val();
        var allheader = $('#tblEmployeeDirectoryList th');
        for (var a = 0; a < allheader.length; a++) {
            var header = allheader[a];
            var headertext = allheader[a].innerHTML.trim();
            if (headertext != 'Action') {
                allheader[a].innerHTML = '';
                var createA = document.createElement('a');
                var createAText = document.createTextNode(headertext);
                createA.setAttribute('href', "#");
                createA.setAttribute('onclick', "Sorting('" + headertext + "');");
                createA.appendChild(createAText);
                header.appendChild(createA);
            }
            if (headertext == 'TotalRecord') {
                header.setAttribute('class', 'headerhide');
            }
            if (headertext == 'Pageindex') {
                header.setAttribute('class', 'headerhide');
            }
        }

        var Pagesize = 5; @*'@EmployeeDirectory.Helper.ConfigurationProvider.WegGridPageSize';*@
        if ($("#hdnTotalRecord").val()) {
            var text = "<tr class='webgrid-footer'><td colspan='15'>";
            text = text + " <div class='topheader' id='divpagging'><div style='width: 100%;' class='classClear tdRepeaterFooter'>";
            text = text + "<div class='repeaterFooterLeft' style='width: 40%'> Page <label id='lblPageindex'></label> of <label id='lblMaxpage'></label> (Total Records: <label id='lblTotalRecord'></label>)</div>";
            text = text + "<div class='repeaterFooterCenter' style='width: 20%'>";
            text = text + "<a href='#' id='first'><img src='" + "/" + Liveurl + "img/FirstButton.gif' /></a>";
            text = text + "<a href='#' id='Previous'><img src='" + "/" + Liveurl + "img/PreviousButton.gif' /></a>";
            text = text + "<a href='#' id='Next'><img src='" + "/" + Liveurl + "img/NextButton.gif' /></a>";
            text = text + "<a href='#' id='Last'><img src='" + "/" + Liveurl + "img/LastButton.gif' /></a></div>";
            text = text + "<div class='repeaterFooterRight'><div class='divTextL'>Go To Page No</div>";
            text = text + "<div class='divTextBoxM'><input type='text' id='txtGO' class='form-control' onkeypress='return IntegerValidation(event,this,8);' style='width:50px !important; height:23px !important; margin: 0 0 0 0 !important; ' /></div>";
            text = text + "<div class='divButtonR'><a href='#' id='go'><img src='" + "/" + Liveurl + "img/GoButton.gif' /></a></div></div></div></div>";
            text = text + "</td></tr>";
            $('#tblUserList tbody').append(text);
            $("#lblPageindex").text(PageIndex);
            $("#lblTotalRecord").text(TotalRecord);
            var MaxPage = parseInt((TotalRecord == 0) ? 0 : ((TotalRecord % Pagesize == 0) ? (TotalRecord / Pagesize) : parseInt((TotalRecord / Pagesize)) + 1));
            $("#lblMaxpage").text(MaxPage);
        }
    }


    $('div #divpagging a').click(function () {
        var Command = $(this).attr('id');
        var PageNo = $("#txtGO").val();
        var Pageindex = $("#lblPageindex").text();
        var MaxPage = $("#lblMaxpage").text();
        var totalRecord = $("#lblTotalRecord").text();
        var Sortorder = $("#hdnSortOrder").text();
        var SortColumn = $("#hdnSortColumn").text();

        if (Command == 'first') {
            $("#lblPageindex").text("1");
        }
        else if (Command == 'Previous') {

            $("#lblPageindex").text((parseInt($("#lblPageindex").text()) - 1).toString());
            if (parseInt($("#lblPageindex").text()) <= 0) {
                $("#lblPageindex").text("1");
            }
        }
        else if (Command == 'Next') {
            $("#lblPageindex").text((parseInt($("#lblPageindex").text()) + 1).toString());
            if (parseInt($("#lblPageindex").text()) >= parseInt($("#lblMaxpage").text())) {
                $("#lblPageindex").text($("#lblMaxpage").text());
            }
        }
        else if (Command == 'Last') {
            $("#lblPageindex").text($("#lblMaxpage").text());
        }
        else if (Command == "go") {
            if (PageNo != "") {
                $("#lblPageindex").text((parseInt(PageNo)).toString());
                if (parseInt($("#lblPageindex").text()) <= 0) {
                    $("#lblPageindex").text("1");
                }
                else if (parseInt($("#lblPageindex").text()) >= parseInt($("#lblMaxpage").text())) {
                    $("#lblPageindex").text($("#lblMaxpage").text());
                }
            }
        }

        var pagesize = $("#ddlpagesize").val();
        if (pagesize == "" || pagesize == undefined || pagesize == "0") {
            pagesize = '@System.Configuration.ConfigurationManager.AppSettings["PageSize"]';
        }

        Pageindex = $("#lblPageindex").text();
        var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
        Liveurl = "/" + Liveurl + "GroupMaster/GroupMasterListPagingWise?Pageindex=" + Pageindex + "&pagesize=" + pagesize + "&columnName=" + SortColumn + "&sortOrder=" + Sortorder;
        $("#modalWindow,#ui-loader").show();
        $.ajax({
            type: "GET",
            contentType: "application/x-www-form-urlencoded",
            traditional: true,
            url: Liveurl,
            dataType: "html",
            success: function (data) {
                $("#divUserList").html('');
                $("#divUserList").html(data + "&nbsp;");
                $("#modalWindow,#ui-loader").hide();
            }
        });
    });

</script>

