@model EmployeeDirectory.Entity.AssetAssignEntity
@{
    ViewBag.Title = "Asset Retire List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                    <div class="col-sm-5 col-xs-12">
                        <h3 class="box-title">Asset  Retire List</h3>
                    </div>

                    <div class="col-sm-7 col-xs-12">
                        <a class="btneffect pull-right" style="margin-right: 10px; margin-top: 16px !important;" href="../AssetManagement/AddAssetRetire">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </a>
                    </div>


                </div>
                @using (Html.BeginForm("SearchAssetRetireDetail", "AssetManagement", FormMethod.Post, new { @class = "form-horizontal", @id = "FormSearchAssetRetireDetail", @style = "border-bottom: 2px solid rgb(204, 204, 204); padding: 20px 0px; background: rgb(229, 229, 229) none repeat scroll 0% 0%; margin-bottom: 11px;" }))
                {
                    @Html.ValidationSummary(true)

                    <div class="col-md-12 box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Tag Number<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.AssetTagNumber, new { @class = "form-control AssetTagAutoFill" })
                                    @*@Html.DropDownListFor(m => m.AssetTagId, ViewBag.AssetTagList as List<SelectListItem>, new { @id = "ddlAssetTagList", @class = "form-control" })*@
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Item Name<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(m => m.ItemId, ViewBag.ItemDetailList as List<SelectListItem>, new { @id = "ddlItemList", @class = "form-control" })
                                </div>
                            </div>
                            @*<div class="col-md-3 col-sm-12 form-group">
                                    <label for="exampleInputEmail1" class="col-sm-6 control-label">PO Number<span class="field-validation-error"></span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.PONumber, ViewBag.PODetailList as List<SelectListItem>, new { @id = "ddlPOList", @class = "form-control" })
                                    </div>
                                </div>*@
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Retire From Date<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.RetireDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "RetireFromDate" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Retire To Date<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.RetireDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "RetireToDate" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">PO Number<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(m => m.PONumber, ViewBag.PODetailList as List<SelectListItem>, new { @id = "ddlPOList", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Employee Id<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Facility Code<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.FacilityCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">DIV<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.DIV, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">REG<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.REG, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">DIST<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.DIST, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="">

                                        <div class="pull-right">
                                            <div class="col-md-12">
                                                <div class="col-sm-6">
                                                    <button type="button" id="SearchAssetRetireListbyParam" data-style="slide-up" style="z-index: 10;" class="ladda-button btneffect pull-right">Search</button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="~/AssetManagement/AssetRetireList" class="btneffect pull-right ladda-button">Clear</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                <div class="DivAssetRetireList">
                    <!-- /.box-header -->
                    @Html.Partial("_AssetRetireList", Model.lstAssetAssignEntity)

                </div>


                <!-- /.box-body -->
            </div>

        </div>
    </div>
</div>


<link href="~/css/jquery-1.10.4-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $('#RetireFromDate,#RetireToDate').datepicker();




    $(document).ready(function () {

        $('#SearchAssetRetireListbyParam').on('click', function () {

            var TagNo = $('#FormSearchAssetRetireDetail').find('#AssetTagNumber').val().trim();
            var ItemId = $('#FormSearchAssetRetireDetail').find('#ddlItemList').val().trim();
            var RetireFromDate = $('#FormSearchAssetRetireDetail').find('#RetireFromDate').val().trim();
            var RetireToDate = $('#FormSearchAssetRetireDetail').find('#RetireToDate').val().trim();

            var PONumber = $('#FormSearchAssetRetireDetail').find('#ddlPOList').val().trim();
            var EEID = $('#FormSearchAssetRetireDetail').find('#EmployeeId').val().trim();
            var FacilityCode = $('#FormSearchAssetRetireDetail').find('#FacilityCode').val().trim();
            var DIV = $('#FormSearchAssetRetireDetail').find('#DIV').val().trim();
            var REG = $('#FormSearchAssetRetireDetail').find('#REG').val().trim();
            var DIST = $('#FormSearchAssetRetireDetail').find('#DIST').val().trim();

            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetRetirePagingSortingList?TagNo=" + TagNo + "&ItemId=" + ItemId + "&RetireFromDate=" + RetireFromDate + "&RetireToDate=" + RetireToDate + "&PONumber=" + PONumber + "&EEID=" + EEID + "&FacilityCode=" + FacilityCode + "&DIV=" + DIV + "&REG=" + REG + "&DIST=" + DIST;
            $.ajax({
                url: Liveurl,
                type: "GET",
                data: {},
                success: function (result) {
                    $('.DivAssetRetireList').html(result);
                }
            });


        });
    });



    var jquery = $.noConflict();
    jquery('#FormSearchAssetRetireDetail').find('.AssetTagAutoFill').live('focusin', function (e) {
        e.preventDefault();
        var me = $(this);

        var items = JSON.parse('@Html.Raw(Json.Encode(ViewBag.AssetTagList))');
        var result = [];

        for (var item, i = 0; item = items[i++];) {
            var name = item.Value;

            result.push(name);
        }

        jquery(this).autocomplete({
            minLength: 0,
            scroll: true,
            //autoFocus: true,

            source: result,

        });
        jquery(me).trigger('keydown');

    });

</script>
