@model EmployeeDirectory.Entity.AssetEntity
@{
    ViewBag.Title = "Asset Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                    <div class="col-sm-5 col-xs-12">
                        <h3 class="box-title">Asset  Stock List</h3>
                    </div>

                    <div class="col-sm-7 col-xs-12">
                        @*<a class="btneffect pull-right" style="margin-right: 10px; margin-top: 16px !important;" href="../AssetManagement/AddAssetStock">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </a>*@
                    </div>


                </div>
                @using (Html.BeginForm("SearchAssetStockDetail", "AssetManagement", FormMethod.Post, new { @class = "form-horizontal", @id = "FormSearchAssetStockDetail", @style = "border-bottom: 2px solid rgb(204, 204, 204); padding: 20px 0px; background: rgb(229, 229, 229) none repeat scroll 0% 0%; margin-bottom: 11px;" }))
                {
                    @Html.ValidationSummary(true)

                    <div class="col-md-12 box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Item Name<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(m => m.ItemId, ViewBag.ItemDetailList as List<SelectListItem>, new { @id = "ddlItemList", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                    <label for="exampleInputEmail1" class="col-sm-6 control-label">PO Number<span class="field-validation-error"></span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.PONumber, ViewBag.PODetailList as List<SelectListItem>, new { @id = "ddlPOList", @class = "form-control" })
                                    </div>
                                </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Purchase From Date<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.StockDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "StockFromDate" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 form-group">
                                <label for="exampleInputEmail1" class="col-sm-6 control-label">Purchase To Date<span class="field-validation-error"></span></label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.StockDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "StockToDate" })
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="">

                                        <div class="pull-right">
                                            <div class="col-md-12">
                                                <div class="col-sm-6">
                                                    <button type="button" id="SearchAssetStockListbyParam" data-style="slide-up" style="z-index: 10;" class="ladda-button btneffect pull-right">Search</button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="~/AssetManagement/AssetStockMaster" class="btneffect pull-right ladda-button">Clear</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                <div class="DivAssetStockList">
                    <!-- /.box-header -->
                    @Html.Partial("_AssetStockList", Model.lstAssetEntity)

                </div>


                <!-- /.box-body -->
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="PONumber" value="">



<link href="~/css/jquery-1.10.4-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $('#StockFromDate,#StockToDate').datepicker();
    $('#ReturnFromDate,#ReturnToDate').datepicker();

    $(document).ready(function () {

        $('#SearchAssetStockListbyParam').on('click', function () {

            var ItemId = $('#FormSearchAssetStockDetail').find('#ddlItemList').val().trim();
            var ItemId = $('#FormSearchAssetStockDetail').find('#ddlItemList').val().trim();
            var StockFromDate = $('#FormSearchAssetStockDetail').find('#StockFromDate').val().trim();
            var StockToDate = $('#FormSearchAssetStockDetail').find('#StockToDate').val().trim();
            var PONumber = $('#FormSearchAssetStockDetail').find('#ddlPOList').val().trim();

            var PONumber = $('#FormSearchAssetStockDetail').find('#ddlPOList').val().trim();

            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockPagingSortingList?ItemId=" + ItemId + "&StockFromDate=" + StockFromDate + "&StockToDate=" + StockToDate + "&PONumber=" + PONumber;
            $.ajax({
                url: Liveurl,
                type: "GET",
                data: {},
                success: function (result) {
                    $("#PONumber").val(PONumber)
                    $('.DivAssetStockList').html(result);

                }
            });


        });
    });


    $(".DivAssetStockList").find("table tbody tr").find('td').live('click', function () {
        var me = $(this);
        var ItemId = me.closest('tr').find(".tdItemName").find('span').attr("id");
        if (me.text().trim() == 0) {
            return false;
        }

        if (me.hasClass("tdAssignQty")) {
            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockAssignListItemWise";
            $.ajax({
                url: Liveurl,
                type: "GET",
                cache: false,
                data: { ItemId: ItemId },
                success: function (result) {
                    $("#parentModal").html(result).modal('show');

                }
            });
        }
        if (me.hasClass("tdReturnQty")) {
            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockReturnListItemWise";
            $.ajax({
                url: Liveurl,
                type: "GET",
                cache: false,
                data: { ItemId: ItemId },
                success: function (result) {
                    $("#parentModal").html(result).modal('show');

                }
            });
        }
        if (me.hasClass("tdRetireqty")) {
            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockRetireListItemWise";
            $.ajax({
                url: Liveurl,
                type: "GET",
                cache: false,
                data: { ItemId: ItemId },
                success: function (result) {
                    $("#parentModal").html(result).modal('show');

                }
            });
        }

        if (me.hasClass("tdTermQty")) {
            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockTermListItemWise";
            $.ajax({
                url: Liveurl,
                type: "GET",
                cache: false,
                data: { ItemId: ItemId },
                success: function (result) {
                    $("#parentModal").html(result).modal('show');

                }
            });
        }
        if (me.hasClass("TotalAvailableQty")) {
            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockAvailableListItemWise";
            $.ajax({
                url: Liveurl,
                type: "GET",
                cache: false,
                data: { ItemId: ItemId },
                success: function (result) {
                    $("#parentModal").html(result).modal('show');

                }
            });
        }



    })

  
</script>
