@model EmployeeDirectory.Entity.AssetAssignEntity

<div class="modal-dialog" style="margin: 0px; height: 76%; width: 100%; padding: 24px 10px 24px 24px;" id="">
    <div class="modal-content">
        <div class="modal-header" style="background: #4c4743 none repeat scroll 0 0">
            <button type="button" style="color:white; opacity:1;" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:white;" class="modal-title">Asset Term For @Model.ItemName</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">

                        @using (Html.BeginForm("SearchAssetTermDetail", "AssetManagement", FormMethod.Post, new { @class = "form-horizontal", @id = "FormSearchAssetTermDetail", @style = "" }))
                        {
                            @Html.ValidationSummary(true)

                            <div class="col-md-12 box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">Tag Number<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.AssetTagNumber, new { @class = "form-control AssetTagAutoFill" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">Term From Date<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.TermedDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "TermFromDate" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">Term To Date<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.TermedDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "TermToDate" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">PO Number<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(m => m.PONumber, ViewBag.PODetailList as List<SelectListItem>, new { @id = "ddlPOList", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">Employee Id<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">Facility Code<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.FacilityCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">DIV<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.DIV, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">REG<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.REG, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label for="exampleInputEmail1" class="col-sm-6 control-label">DIST<span class="field-validation-error"></span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.DIST, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="">

                                                <div class="pull-right">
                                                    <div class="col-md-12">
                                                        <div class="col-sm-6">
                                                            @Html.HiddenFor(m => m.ItemId)
                                                            <button type="button" id="SearchAssetTermListbyParam" data-style="slide-up" style="z-index: 10;" class="ladda-button btneffect pull-right">Search</button>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <a id="ClearTermListbyParam" class="btneffect pull-right ladda-button">Clear</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <div class="DivAssetTermList">
                            <!-- /.box-header -->
                            @Html.Partial("_AssetTermListItemWise", Model.lstAssetAssignEntity)

                        </div>


                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btneffect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*<link href="~/css/jquery-1.10.4-ui.css" rel="stylesheet" />*@

<script type="text/javascript">

     $(document).ready(function () {

         $("#ClearTermListbyParam").on('click', function () {
             $('#FormSearchAssetTermDetail').find('#AssetTagNumber,#ddlPOList,#EmployeeId,#FacilityCode,#TermFromDate,#TermToDate,#DIV,#REG,#DIST').val("");

             var TagNo = "";
             var ItemId = $('#FormSearchAssetTermDetail').find('#ItemId').val().trim();

             var PONumber = "";
             var EEID = "";
             var FacilityCode = "";
             var TermFromDate = "";
             var TermToDate = "";
             var DIV = "";
             var REG = "";
             var DIST = "";

             var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
             Liveurl = "/" + Liveurl + "AssetManagement/AssetStockTermPagingSortingList?TagNo=" + TagNo + "&ItemId=" + ItemId + "&PONumber=" + PONumber + "&EEID=" + EEID + "&FacilityCode=" + FacilityCode + "&TermFromDate=" + TermFromDate + "&TermToDate=" + TermToDate + "&DIV=" + DIV + "&REG=" + REG + "&DIST=" + DIST;
             $.ajax({
                 url: Liveurl,
                 type: "GET",
                 data: {},
                 success: function (result) {
                     $('.DivAssetTermList').html(result);
                 }
             });
         });

        $('#SearchAssetTermListbyParam').on('click', function () {

            var TagNo = $('#FormSearchAssetTermDetail').find('#AssetTagNumber').val().trim();
            var ItemId = $('#FormSearchAssetTermDetail').find('#ItemId').val().trim();
            var TermFromDate = $('#FormSearchAssetTermDetail').find('#TermFromDate').val().trim();
            var TermToDate = $('#FormSearchAssetTermDetail').find('#TermToDate').val().trim();
            var PONumber = $('#FormSearchAssetTermDetail').find('#ddlPOList').val().trim();
            var EEID = $('#FormSearchAssetTermDetail').find('#EmployeeId').val().trim();
            var FacilityCode = $('#FormSearchAssetTermDetail').find('#FacilityCode').val().trim();
            var DIV = $('#FormSearchAssetTermDetail').find('#DIV').val().trim();
            var REG = $('#FormSearchAssetTermDetail').find('#REG').val().trim();
            var DIST = $('#FormSearchAssetTermDetail').find('#DIST').val().trim();

            var Liveurl = '@System.Configuration.ConfigurationManager.AppSettings["LivesubURL"]';
            Liveurl = "/" + Liveurl + "AssetManagement/AssetStockTermPagingSortingList?TagNo=" + TagNo + "&ItemId=" + ItemId + "&TermFromDate=" + TermFromDate + "&TermToDate=" + TermToDate + "&PONumber=" + PONumber + "&EEID=" + EEID + "&FacilityCode=" + FacilityCode + "&DIV=" + DIV + "&REG=" + REG + "&DIST=" + DIST;
            $.ajax({
                url: Liveurl,
                type: "GET",
                data: {},
                success: function (result) {
                    $('.DivAssetTermList').html(result);
                }
            });


        });
     });

    @*var jquery = $.noConflict();
    jquery('#FormSearchAssetTermDetail').find('.AssetTagAutoFill').live('focusin', function (e) {
        e.preventDefault();
        var me = $(this);

        var items = JSON.parse('@Html.Raw(Json.Encode(ViewBag.AssetTagList))');
        var result = [];

        for (var item, i = 0; item = items[i++];) {
            var name = item.Value;

            result.push(name);
        }

        jquery(this).autocomplete({
            minLength: 0,
            scroll: true,
            //autoFocus: true,

            source: result,

        });
        jquery(me).trigger('keydown');

    });*@




</script>

